// Colors
$color-primary: #cca352;
$color-primary-dark: #99701f;
$color-secondary: #303240;
$color-grey-light: #b3b3b3;
$color-white: #fff;
$color-black: #000;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Font Size
$default-font-size: 1.6rem;
$m-font-size: 2.4rem;
